<footer>

    <div class="footer-content">
      <div class="footer">
        <div class="row aic gap-10 wrap">
          <div class="footer-widget">
            <div class="logo">{{ siteName }}</div>
          </div>
          <div class="footer-widget flex-1">
            <h4 class="widget-title">Company</h4>
            <ul class="footer-list">
              <li><a href="#">About us</a></li>
              <li><a href="#">Delivery information</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Support center</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
          <div class="footer-widget flex-1">
            <h4 class="widget-title">Account</h4>
            <ul class="footer-list">
              <li><a href="#">About us</a></li>
              <li><a href="#">Delivery information</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Support center</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
          <div class="footer-widget flex-1">
            <h4 class="widget-title">Corporate</h4>
            <ul class="footer-list">
              <li><a href="#">About us</a></li>
              <li><a href="#">Delivery information</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Support center</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
          <div class="footer-widget flex-1">
            <h4 class="widget-title">Popular</h4>
            <ul class="footer-list">
              <li><a href="#">Milk & flavour milk</a></li>
              <li><a href="#">Butter and Marketplace</a></li>
              <li><a href="#">Eggs Substitutes</a></li>
              <li><a href="#">Marmalades</a></li>
              <li><a href="#">Sour cream and Digs</a></li>
              <li><a href="#">Tea & Kombuche</a></li>
              <li><a href="#">Cheese</a></li>
            </ul>
          </div>
          <div class="footer-widget flex-1">
            <h4 class="widget-title">Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="download-app flex gap-5 wrap">
              <img src="/assets/images/card/apple_store.svg" alt="Apple store">
              <img src="/assets/images/card/google-play.svg" alt="Google play">
            </div>
            <p>Secure Payment Gateways</p>
            <app-payment-card></app-payment-card>
          </div>
        </div>
      </div>
      <div class="footer-bottom"></div>
    </div>


 <!--
<footer class="py-50">
 <div class="container">
    <div class="footer-content flex jscb wrap pb-30">
      <div class="footer-list">
        <h2>Contact Info</h2>
        <div class="footer-item">
          <h4>Adresse : </h4>
          <p>123, Street Name, City, England</p>
        </div>
        <div class="footer-item">
          <h4>Phone : </h4>
          <p>(123) 456-7890</p>
        </div>
        <div class="footer-item">
          <h4>Email : </h4>
          <p>mail&#64;example.com</p>
        </div>
        <div class="footer-item">
          <h4>Working DAYS/Hours :</h4>
          <p>Mon - Sun / 9:00 AM - 8:00 PM</p>
        </div>
      </div>
      <div class="footer-list">
        <h2>Customers service</h2>
        <ul>
          <li class="customer-service-item"><a href="#">Help & FAQs</a></li>
          <li class="customer-service-item"><a href="#">Order tracking</a></li>
          <li class="customer-service-item"><a href="#">Shipping & delivery</a></li>
          <li class="customer-service-item"><a href="#">Orders History</a></li>
          <li class="customer-service-item"><a href="#">Advanced Search</a></li>
          <li class="customer-service-item"><a href="#">My account</a></li>
          <li class="customer-service-item"><a href="#">Careers</a></li>
          <li class="customer-service-item"><a href="#">Corporate Sales</a></li>
          <li class="customer-service-item"><a href="#">Privacy</a></li>
        </ul>
      </div>
      <div class="footer-list">
        <h2>Popular Tags</h2>
        <div class="footer-tags">
          <div class="tags">bags</div>
          <div class="tags">black</div>
          <div class="tags">blue</div>
          <div class="tags">clothes</div>
          <div class="tags">Fashion</div>
          <div class="tags">Hub</div>
          <div class="tags">Shirt</div>
          <div class="tags">Shoes</div>
          <div class="tags">Skirt</div>
        </div>
      </div>
      <div class="footer-list">
        <h2>Subscribe Newsletter</h2>
        <div class="footer-subscribe">
          <p>
            Get all the latest information on events, sales ans offers. Sign up for newsletter:
          </p>
          <div class="footer-input">
            <input type="email" id="email" placeholder="Email Adress">
          </div>
          <button class="btn">subscribe</button>

        </div>
      </div>
    </div>
  -->
    <div class="footer-bottom flex jcsb py-30 wrap gap-10">
      <div class="fiiter-bottom-left">
        &copy;Jstore eCommerce 2021. All Rights Reserved.
      </div>
    </div>

</footer>

