<app-page-title [title]="'Catégorie de produits : '+currentCategory?.name"></app-page-title>
<!-- {{
  categories | json
}} -->
<div class="products-container flex content p-10">
  <div class="products-category">
   <ul class="unlisted">
    <li *ngFor="let category of categories?.results">
      <a href="#"
        [ngClass]="{'active': category.slug === currentCategory?.slug}"
        (click)="handleClick($event, category)">
        {{category.name}}</a>
    </li>
   </ul>
  </div>
  <div class="products-list flex-1 flex wrap gap-10 jcc p-10">
    <app-product-list
    [products]="products"
    [isLoading]="isLoading"
    ></app-product-list>
    <!-- <app-product-item
    *ngFor="let product of products"
      [product]="product">
    </app-product-item> -->
  </div>
</div>
