<!--
<h1>Titre : {{title}}</h1>
<h1>Age : {{age}} ans</h1>
<h1>Table: {{names}}</h1>
<h1>Table: {{ages}}</h1>
<div>Table: {{products | json}}</div>
<h2>Date : {{date | date:'short'}}</h2>
<h2>Date : {{date | date:'medium'}}</h2>
<h2>Date : {{date | date:'hh:mm:ss'}}</h2>
<h2>Date : {{date | date:'dd/MM/YYYY'}}</h2>
-->

<div class="product-list">
  <app-loading *ngIf="isLoading"></app-loading>
  <app-product-item *ngFor="let product of products"
                    [product]="product"
                    (deleteProductItem)="handleDeleteProduct($event)"
                    (displayProductViewModal)="handleDisplayProductViewModal($event)">
  </app-product-item>

  <div class="bar" *ngIf="!products.length">
    Désolé aucun article n'est disponible pour le moment
  </div>

  <app-modal-product-view *ngIf="isDisplayModal" [product]="modalProduct" (close)="handleCloseModal()"
  ></app-modal-product-view>

</div>
