/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-size: normal;
  font-weight: 400;
}
h2{
  font-size: 2rem;
}
del{
  color: #3f51b5;
}
.none{
  display: none;
}
.b {
  border: 0.1px solid black;
}

.flex, .row{
  display: flex;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}
.flex-4{
  flex: 4;
}
.wrap{
  flex-wrap: wrap;
}
.aic{
  align-items: center;
}
.jcc{
  justify-content: center;
}

.column{
  flex-direction: column;
}

.btn{
  height: 40px;
  min-width: 150px;
  padding: 10px;
  margin: 10px 0;
  outline: none;
  cursor: pointer;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.gap-5{
  gap: 5px;
}

.gap-10{
  gap: 10px;
}

.content {
  width: 70%;
  margin: 0 auto;
  min-width: 70vh;
}

.unlisted{
  list-style: none;
  padding: 0;
}
.unlisted a{
  text-decoration: none;
  color: inherit;
}

button:disabled{
  opacity: 0.7;
  cursor: not-allowed;
}
.tc{
  text-align: center;
}
.error{
  color: red;
}

form p{
  margin: 0;
}

/********************* ADDITIONAL INFO ********************************/
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
table th,td {
  border: 1px solid #ccc;
}
table td{
  padding: 0 10px;
}
.vendor-name h6{
  font-size: 1.5rem;
}
.vendor-name h6 a{
  text-decoration: none;
  color: #3f51b5;
}
.thumb img{
  width: 80px;
  border-radius: 200px;
}

/***************************** COMMENTS ******************************/
.single-comment{
  border: 0.1px solid #ccc;
  margin: 20px 0;
  border-radius: 20px;
}
.single-comment a{
  border: 0.1px solid #ccc;
  margin: 20px 0;
  font-weight: bold;
  text-align: center;
}
.single-comment .thumb a{
  display: block;
}
.single-comment .user{
  gap: 10px;
  padding: 10px;
}
.single-comment .user .desc{
  max-width: 600px;
}
.comment-area > .row {
  gap: 20px;
}
.comment-area > .row div:nth-child(2){
  flex: 1;
}
.comment-area > .row div:nth-child(2) .progress{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.comment-area > .row div:nth-child(2) .progress-bar{
  color: white;
  font-weight: bold;
  flex: 1;
}
.progress-bar{
  width: 100%;
  background-color: #3f51b5;
}


@media screen and (max-width: 1200px){
  header .nav-bar{
    display: none;
  }
  header .bars{
    display: block;
  }
  .content {
    width: 90%;
  }
}

@media screen and (max-width: 900px){
  .content {
    width: 95%;
  }
}

/********************************** SIGNIN SIGNUP ****************************************/

.signin{
  height: 70vh;
}

.btn {
  font-size: 1.4rem;
  height: 40px;
  border: none;
  min-width: 100px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.btn-main{
  background-color: #3f51b5;
}

.form-container {
  width: 600px;
  position: relative;
  top: 50%;
  left: 50%;
  border: 0.1px solid #ccc;
  transform: translate(-50%,-50%);
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

form{
  padding: 5px;
  background-color: white;
}

form .form-line{
  min-height: 40px;
  padding: 10px 0;
}
form .form-line input{
  font-size: 1.1rem;
  height: 50px;
  padding: 0 10px;
  border-bottom: 0.1px solid #ccc;
  outline-color: #3f51b5;
  border-radius: 5px;
}

form .btn{
  height: 45px;
}

@media screen and (max-width: 550px){
  .form-container {
    width: 90%;
  }
}

/********************************** Signin signup *********************************/

.signin{
  height: 70vh;
}

.btn {
  font-size: 1.4rem;
  height: 40px;
  border: none;
  min-width: 100px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.form-container {
  width: 600px;
  position: relative;
  top: 50%;
  left: 50%;
  border-bottom: 0.1px solid #ccc;
  transform: translate(-50%,-50%)
}

form{
  padding: 5px;
  background-color: white;
}

form h2{
  text-align: center;
}

form .form-line{
  min-height: 40px;
  padding: 10px 0;
}
form .form-line input{
  font-size: 1.1rem;
  height: 40px;
  width: 550px;
  border: 0.1px solid #ccc;
  outline-color: #3f51b5;
}

form .btn {
  height: 45px;
  background-color: black;
}

@media screen and (max-width: 550px){
  .form-container {
    width: 90%;
  }
}

/****************************** SINGLE PRODUCT *********************/
